**/pr/*/*.out
**/pr/*/*.o

**/hw1/p2/*.o
**/hw1/p2/p2Run
**/hw1/p2/*.json

**/hw2/*.doc
**/hw2/*.pdf
**/hw2/*.txt
**/hw2/*.o
**/hw2/cmdReader*
**/hw2/history
**/hw2/hw2.test1
**/hw2/main.o
**/hw2/testAsc.o

**/hw3/src/*/*.o
**/hw3/src/*/*.mak
**/hw3/lib
**/hw3/dofiles

**/hw4/tests
**/hw4/include
**/hw4/lib
**/hw4/ref
**/hw4/src/cmd
**/hw4/src/main
**/hw4/src/mem/memCmd.h
**/hw4/src/mem/memCmd.o
**/hw4/src/mem/memTest*
**/hw4/src/util
**/hw4/src/Mak*
**/hw4/src/*/*mak*
**/hw4/Homework_4.pdf
**/hw4/Makefile
**/hw4/Must*
**/hw4/SelfCheck
