**/pr/*/*.out
**/pr/*/*.o

**/hw1/p2/*.o
**/hw1/p2/p2Run
**/hw1/p2/*.json

**/hw2/*.doc
**/hw2/*.pdf
**/hw2/*.txt
**/hw2/*.o
**/hw2/cmdReader*
**/hw2/history
**/hw2/hw2.test1
**/hw2/main.o
**/hw2/testAsc.o

**/hw3/src/*/*.o
**/hw3/src/*/*.mak
**/hw3/lib
**/hw3/dofiles

**/hw4/tests
**/hw4/lib
**/hw4/src/*/*.o
